html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff url("../img/geometry2.png");
	/* Background pattern from Subtle Patterns */
	font-family: "Coda", cursive;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

h1 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

/*
   * Styles for the deck of cards
   */

.deck {
	width: 660px;
	min-height: 680px;
	background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
	padding: 32px;
	border-radius: 10px;
	box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 125px;
	width: 125px;
	background: #2e3d49;
	font-size: 0;
	color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
	transform-style: preserve-3d;
	transition: all 0.2s ease;
	/*font-size:33px;*/
}

.deck .card.open {
	transform: rotateY(0);
	background: #02b3e4;
	cursor: default;
	font-size: 33px;
}

.deck .card.show {
	font-size: 33px;
}

.deck .card.match {
	cursor: default;
	background: #02ccba;
	font-size: 33px;
}

/*
   * Styles for the Score Panel
   */

.score-panel {
	text-align: left;
	width: 345px;
	margin-bottom: 10px;
}

.score-panel .stars {
	margin: 0;
	padding: 0;
	display: inline-block;
	margin: 0 5px 0 0;
}

.score-panel .stars li {
	list-style: none;
	display: inline-block;
}

.stars {
	list-style: none;
}

.score-panel #restart {
	float: right;
	cursor: pointer;
}

#modal-win-container {
	color: white;
	display: none;
	margin-top: 50px;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/*
   * Styles for the win modal
   */

#modal-win-wrapper {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: auto;
	width: 40%;
	box-shadow: 5px 5px 40px black;
	height: 400px;
	background: #5da2c4;
	border-radius: 10px;
	padding-top: 20px;
}

#modal-win-secondary-container {
	display: flex;
	height: 80%;
	flex-direction: column;
	align-items: center;
}

#modal-win-title {
	font-size: 36px;
}

#modal-win-secondary-title {
	font-size: 30px;
}

#modal-restart-btn button {
	font-size: 20px;
	color: white;
	background: grey;
	border: none;
	padding: 5px;
	margin-top: 10px;
	border-radius: 10px;
	cursor: pointer;
}

#stars-win {
	display: flex;
	padding-right: 40px;
}

/*
   * Styles for responsive design
   */

@media screen and (max-width: 880px) {
	#modal-win-title {
		font-size: 24px;
	}

	#modal-win-secondary-title {
		font-size: 20px;
	}
}

@media screen and (max-width: 680px) {
	.deck {
		width: 400px;
		min-height: 420px;
	}

	.deck .card {
		height: 75px;
		width: 75px;
	}
}

@media screen and (max-width: 555px) {
	#modal-win-title {
		font-size: 16px;
	}

	#modal-win-secondary-title {
		font-size: 14px;
	}
	#modal-win-wrapper {
		width: 60%;
	}
}

@media screen and (max-width: 400px) {
	.deck {
		width: 300px;
		min-height: 320px;
	}

	.deck .card {
		height: 50px;
		width: 50px;
	}

	.deck .card.open {
		font-size: 24px;
	}
	#modal-win-wrapper {
		width: 80%;
	}

	.score-panel .stars {
		padding-left: 55px;
	}

	.score-panel #restart {
		float: right;
		cursor: pointer;
		padding-right: 50px;
	}
}
